# --- Maven stuff START
target/
**/target/
/target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
pom.properties
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
# --- Maven stuff END

# --- Java stuff START
*.class

# Package Files #
*.jar
*.war
*.ear

# --- Derby stuff
**/jpa-processor/testdb/**