<!-- =================================================================== -->
<!-- To use the settings.xml, make sure that the environment varibale    -->
<!-- M2_REPOSITORY is set on your local machine. The variable must point -->
<!-- to your local Maven repository root folder.                         -->
<!--                                                                     -->
<!-- To be able to deploy into the Nexus snapshot and release repository -->
<!-- you need to comment in the out-commented block below and set a      -->
<!-- valid Nexus user and password.                                      -->
<!-- =================================================================== -->

<settings>


  <!-- definition of proxy server to use to access external stuff -->
  <!-- (in case of Lean DI all external stuff should be retrieved via central Nexus) -->
  <!--
  <proxies>
    <proxy>
      <active>true</active>
      <protocol>http</protocol>
      <host>proxy</host>
      <port>8080</port>
      <nonProxyHosts>nexus|*.corp</nonProxyHosts>
    </proxy>
  </proxies>
  -->

  <!-- definition of mirrors (by default the public repository of the Nexus server) -->
  <mirrors>
    <mirror>
      <id>leandi.nexus.mirror</id>
      <url>http://nexus:8081/nexus/content/groups/build.releases/</url>
      <mirrorOf>*,!build.snapshots,!build.milestones,!sonar</mirrorOf>
    </mirror>
  </mirrors>

  <!-- definition of build profiles -->
  <profiles>

    <!-- LeanDI: build profile for milestones -->
    <profile>
      <id>milestone.build</id>
      <pluginRepositories>
        <pluginRepository>
          <id>build.milestones</id>
          <url>http://nexus:8081/nexus/content/groups/build.milestones/</url>
        </pluginRepository>
      </pluginRepositories>
      <repositories>
        <repository>
          <id>build.milestones</id>
          <url>http://nexus:8081/nexus/content/groups/build.milestones/</url>
        </repository>
      </repositories>
    </profile>

    <!-- LeanDI: build profile for snapshots (active by default) -->
    <profile>
      <id>snapshot.build</id>
      <pluginRepositories>
        <pluginRepository>
          <id>build.snapshots</id>
          <url>http://nexus:8081/nexus/content/groups/build.snapshots/</url>
        </pluginRepository>
      </pluginRepositories>
      <repositories>
        <repository>
          <id>build.snapshots</id>
          <url>http://nexus:8081/nexus/content/groups/build.snapshots/</url>
        </repository>
      </repositories>
    </profile>

  </profiles>

  <!-- activation of the default build profiles -->
  <activeProfiles>
    <activeProfile>snapshot.build</activeProfile>
  </activeProfiles>

</settings>