name: Build Archetype
on:
  push:
    branches:
      - main
  pull_request:
    types: [opened, synchronize, reopened]
jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        java-version: [ 17 ]
    name: Archetype with Java ${{ matrix.java-version }}
    steps:
      - uses: actions/checkout@v4
      - name: Set up JDK ${{ matrix.java-version }}
        uses: actions/setup-java@v4
        with:
          java-version: ${{ matrix.java-version }}
          distribution: 'sapmachine'
          cache: maven
      - name: 1. Build JPA
        run: cd ./jpa && mvn clean install -Dmaven.test.skip
      - name: 2. Build and test archetype
        run: cd ./jpa-archetype && mvn clean install archetype:integration-test
